.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar .user-info-container {
  width: 100%;
  height: 100%;
  margin-top: 14px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  .user-name {
    color: #868686;
  }
}

.mat-toolbar .user-info-container .user-image img{
  width: 45px;
  height: 45px;
  border-radius: 30px;
}

.mat-toolbar .user-info-container .user-info{
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: -7px;
}
.mat-nav-list a.active {
  background: #f4433636;
}

.social {
  position: absolute;
  bottom: 0;
  left: 14px;
  &__button {
    margin: 8px;
    // &--facebook {}
    // &--instagram {}
    // &--twitter {}
  }
}
