.story {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.story__header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
