.login {
  min-height: 460px;
  min-width: 310px;
  background-color: white;
  .login__email,
  .login__password,
  .login__button,
  .login__forgotPassword
  {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .login__title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .login__photo {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    cursor: pointer;
  }
  .login__forgotPassword {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
