/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

.s{ min-height: 15vh }
.m { min-height: 28vh }
.l { min-height: 50vh }
.xl { min-height: 80vh }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat : no-repeat;
  background-size: cover;
}

.parallax--top {
  background-attachment: fixed;
  background-position: top;
  background-repeat : no-repeat;
  background-size: cover;
}
