<mat-list>
  <h3 mat-subheader>Amigos</h3>
  <mat-list-item matRipple *ngFor="let friend of friends">
    <mat-icon mat-list-icon>face</mat-icon>
    <a mat-line [routerLink]="[ '/conversation', friend.uid ]">
      <h4 mat-line>{{ friend.name }}</h4>
    </a>
    <p mat-line> {{ friend.updated | date }} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Desconocidos</h3>
  <mat-list-item matRipple *ngFor="let unnamed of unknown">
    <mat-icon mat-list-icon>sentiment_dissatisfied</mat-icon>
    <a mat-line [routerLink]="[ '/conversation', unnamed.uid ]">
      <h4 mat-line>{{ unnamed.name }}</h4>
    </a>
    <p mat-line> {{ unnamed.updated | date }} </p>
  </mat-list-item>
</mat-list>
